# Xcode
build/
DerivedData/
*.xcuserstate
*.xcworkspace/xcuserdata/
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# macOS
.DS_Store
*.dSYM.zip
*.dSYM

# Archives
*.xcarchive
